
.mainArea {
    margin-top: 5%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}

.topArea {
    display: flex;    
    justify-content: space-between;    
    margin-right: 4%;
    padding: 16px;
}

.search-input {
    width: 360px;
    height: 50px;
    padding: 8px;
    font-size: 16px;
    background-color: #2e323d;
    color: #00e8c6;
    border: none;
}

.search-input:hover {
    background-color: #2e323d;
    color: #00e8c6;
}

.search-input:focus {
    background-color: #2e323d;
    color: #00e8c6;
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 232, 198, 0.2);
}

.search-input::placeholder {
    color: #a0a0a0;
    opacity: 1;
}


.bottomArea {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    width: 100%;
    margin-bottom: 100px;
}

.no-nfts {
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    margin-left: 700px;
}

.no-nfts p {
    font-size: 40px;
    margin-bottom: 80px;
}


.custom-dropdown .ant-dropdown-menu {
    background-color: #2e323d;
}

.custom-dropdown .ant-dropdown-menu-item {
    background-color: #2e323d;
    color: #00e8c6 !important;
    font-size: 16px !important;
}

.custom-dropdown .ant-dropdown-menu-item:hover {
    background-color: #979797 !important;
    color: black !important;
}

/* Custom styles for the sorting button */
.sorting-button {
    background-color: #2e323d;
    color: #00e8c6;
    border: none;
    font-size: 18px;
}

.sorting-button:hover,
.sorting-button:focus {
    background-color: #1f1f1f !important;
    color: #00e8c6 !important;
}


.custom-message .ant-message-notice-content {
    background-color: #2e323d !important;
    font-size: 17px !important;
    color: #00e8c6;
}